<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <hr>
            <h1><%= product.title%></h1>
            <hr>
            <br>
            <div>
                <img src="<%= product.imageURL %>" alt=" <%= product.title %>">
            </div>
            <h2 class="product__price">$ <%= product.price %></h2>
            <p><%= product.description %></p>
            <%-include('../includes/add-to-cart.ejs', {product: product}) %>
        </main>
        <%- include('../includes/end.ejs') %>